body {
  font-family: "Droid Sans", "Open Sans", Verdana, Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: $placeholder;
}

:-moz-placeholder {
  color: $placeholder;
}

::-moz-placeholder {
  color: $placeholder;
}

:-ms-input-placeholder {
  color: $placeholder;
}

a {
  &:link,
  &:visited {
    color: $greenbutton;
    text-decoration: none;
  }
}

a {
  &:link,
  &:visited {
    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  &:link,
  &:visited {
    &:active {
      color: $activelink;
    }
  }
}

p {
  font-size: 96%;
  line-height: 1.4;
}

p {
  & + p {
    margin-top: 1em;
  }
}

/*Forms*/
input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
  @include box-sizing(border-box);
  @include border-radius(2px);
  border: $greyborder;
  font-size: 96%;
  font-weight: bolder;
  height: 2.4em;
  padding-left: .7em;
  padding-right: .7em;
  width: 100%;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'],
button {
  border: none;
  @include border-radius(2px);
  background-color: $greenbutton;
  color: #fff;
  font-weight: bolder;
  height: 2.26em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='file']:active,
button:active {
  background-color: $activegreenbutton;
}

.block-form {
  border: $greyborder;

  a {
    &:link,
    &:visited {
      font-size: 90%;
    }
  }
}

form {
  & > .inputs-group {
    padding: 1.3em 1.2em 1.2em;
  }

  & > .buttons-group {
    padding: 0 1.2em 1em;
  }

  & > p {
    padding: 1em 1.2em 0;
  }
}

.buttons-group {
  & > a {
    &:link,
    &:visited {
      float: right;
      margin-top: .35em;
      text-align: right;
      width: 5em;
    }
  }
}

.block-form-header {
  border-bottom: $greyborder;
  padding-left: 1.28em;
  padding-right: 1.28em;

  & > span {
    font-size: 115%;
    line-height: 2.4;
  }

  & a {
    &:link,
    &:visited {
      float: right;
      margin-top: 1em;
    }
  }
}

.input-wrapper {
  & + .input-wrapper {
    margin-top: 1.2em;
  }
}

.input-wrapper {
  & > label {
    display: block;

    & + .error-message {
      margin-top: .5em;
    }
  }
}

.error-message {
  color: tomato;
  font-size: 96%;
}

/*Media queries*/
@media screen and (min-width: 480px) {
  .block-form {
    left: 50%;
    margin-left: -12em;
    margin-top: -7.1em;
    position: absolute;
    top: 50%;
    width: 24em;
  }
}